<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/static/css/style.css">
    {% endblock %}
</head>
<body>
{% if login != '' %}
        <h1>Привет, {{  login }}!</h1>
        <h1>Это главная страница</h1>
        <a href="/userInfo"><h1>Профиль</h1></a>
        <a href="/logout"><h1>Выход</h1></a>
{% else %}
        <a href="/registration"><h1>Регистрация</h1></a>
        <a href="/signIn"><h1>Вход</h1></a>
{% endif %}
</body>
</html>