<!DOCTYPE html>
<html>
<head>
    {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link rel="stylesheet" href="/static/css/style.css">
            <link rel="stylesheet" href="/static/css/bulma.css">
    {% endblock %}
</head>
<body>
    <nav class="level">
        <div class="level-left">
            {% if login != '' %}
                    <p class="level-item"><a class="button" href="/userInfo">Профиль</a></p>
                    <p class="level-item"><a class="button is-outlined" href="/logout">Выход</a></p>
            {% endif %}
        </div>
        <div class="level-right">
                <p class="level-item"><a href="/">Главная</a></p>
                <p class="level-item"><a class="button is-success" href="/signIn">Вход</a></p>
                <p class="level-item"><a class="button is-warning" href="/registration">Регистрация</a></p>
        </div>
    </nav>
    {% if login != '' %}
         <div class="container">
                 <div class="box">
                        <strong>Привет, {{ login }}</strong>
                 </div>
         </div>
    {% endif %}

</body>
</html>