<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/static/css/style.css">
    {% endblock %}
</head>
<body>
{% if login != '' %}
        <h1>Привет, {{  login }}!</h1>
        <h1>"Это main страница, должна вылезти после регистрации и логина по кукам!</h1>
{% endif %}
<a href="/logout">logOut</a>
</body>
</html>