{% extends "BaseAuth.html.twig" %}

{% block header %}
    <h1> Регистрация </h1>
{% endblock %}

{% block content %}
    <input name="login" type="text" class="input user.name" placeholder="Логин" />
    <input name="password" type="password" class="input password" placeholder="Пароль" />
{% endblock %}

{% block footer %}
    <input type="submit" name="submit" value="Зарегаться" class="button" />
    <a href="/">На главную</a>
    <a href="/signIn">Войти</a>
{% endblock %}