<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div id="wrapper">
    <form name="login-form" class="login-form" action="" >

        <div class="header">
            <h1>Регистрация</h1>
        </div>

        <div class="content">
            <input name="username" type="text" class="input user.name" value="Логин" onfocus="this.value=''" />
            <input name="password" type="password" class="input password" value="Пароль" onfocus="this.value=''" />
            <input name="password" type="password" class="input password" value="Повторите пароль" onfocus="this.value=''" />
        </div>

        <div class="footer">
            <input type="submit" name="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" class="button" />
            <a href="/login">Вход</a>
        </div>

    </form>
</div>

</body>
</html>