<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/static/css/style.css">
    {% endblock %}
</head>
<body>

    Имя:
    {% block firstName %}
    {% endblock %}

    <br>
    Фамилия:
    {% block secondName %}
    {% endblock %}

    <br>
    Пол:
    {% block sex %}
    {% endblock %}

    <br>
    Место работы:
    {% block workspace %}
    {% endblock %}

    <br>
    О себе:
    {% block about %}
    {% endblock %}

</body>
</html>