<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/bulma.css">
    {% endblock %}
</head>
<body>
    <form name="content">
        <nav class="level">
            <div class="level-left">
                <p class="level-item"><a href="/">Главная</a></p>
                <p class="level-item"><a class="button" href="/userInfo">Профиль</a></p>
                <p class="level-item"><a class="button is-outlined" href="/logout">Выход</a></p>
            </div>
            <div class="level-right">
            </div>
        </nav>
        <div class="container">
            Фамилия:
            {% block secondName %}
            {% endblock %}

            <br>
            Имя:
            {% block firstName %}
            {% endblock %}
            <br>
            Пол:
            {% block sex %}
            {% endblock %}

            <br>
            Место работы:
            {% block workspace %}
            {% endblock %}

            <br>
            О себе:
            {% block about %}
            {% endblock %}

            <br>
            {% block other %}
            {% endblock %}
        </div>
    </form>
</body>
</html>